page-register {
  ion-content{
    img{
      margin-top: 16px;
    }
    form{
      .submitBoton{
        margin-top: 1em !important;
        background-color: #CC4125 !important;
      }
      p{
        margin: 0!important;
      }
    }
  }
}
