page-fuelstationdetails {
    /*#map_canvas{
        height:40vh;
        width: 100%;
        background-color: white;
    }*/
    img{
        height:40vh;
        width: 100%;
        background-color: white;
    }
}
